body{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}
/*nav*/

/*blog posts*/
.post{
  margin-bottom: 40px;
}
.post-title{
  border: 1px solid #eeeeee;
  border-width: 1px 0;
  padding: 0 0 5px 0;
}
.post-abstract{
  margin-bottom: 10px;
}
.post-meta{
  font-size: 0.75em;
}
.post-meta > span{
  display: inline-block;
  padding-right: 10px;
  margin: 0 5px;
  border-right: 1px dotted #dddddd;
}
.post-meta > span:first-of-type{
  margin-left: 0;
}
.post-meta > span:last-of-type{
  margin-right: 0;
  border-right: 0;
}
/* Footer*/
.blog-footer {
  padding: 40px 50px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}