extends ../layout

append css
    link(rel='stylesheet', href='/css/reception.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    
block main
    block header
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Blog
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    if pageName=='/posts'
                        li.active
                            a(href='/') 首页
                    else
                        li
                            a(href='/') 首页
                    if pageName=='/about'
                        li.active
                            a(href='/about') 关于
                    else
                        li
                            a(href='/about') 关于
                    if pageName=='/contact'
                        li.active
                            a(href='/contact') 联系
                    else
                        li
                            a(href='/contact') 联系
                form.navbar-form.navbar-left(method="get", action="/posts")
                    .form-group
                        input.form-control(type='text', name="keyword",placeholder='Search')
                    button.btn.btn-default(type='submit') Submit
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/backstage/users/login') 登录
                    li
                        a(href='/backstage/users/register') 注册
    .container
        .row
            .col-sm-8.blog-main
                block content
            .col-sm-3.col-sm-offset-1.blog-sidebar
                .sidebar-module
                    h4 文章分类
                    ol.list-unstyled
                        each category in categories
                            li
                                a(href="/posts/category/" + category.name,target="_blank")
                                    =category.name
                .sidebar-module
                    h4 友情链接
                    ol.list-unstyled
                    li
                        a(href='#') GitHub
                    li
                        a(href='#') Twitter
                    li
                        a(href='#') Facebook
                                          
    block footer
        footer.blog-footer
            p.pull-right
               a(href='#top') 回到顶部
            p © 2018 jsweb     软件工程1501   31501315   张晓钒